 <header>
        <a href="principal.html"><img src="/public/img/seta.png" id="seta"></a>
        <a href="principal.html"><img src="/public/img/logo2.png" alt="logo" id="logo2"></a>
        <a href="perfil"><img src="/public/img/perfil.png" id="perfil"></a>
        </header>
   
   
       
 <label for="sugestoes"> 
<h1>Sugestões</h1></label> 

<p>Este é um espaço reservado para você dar a sua opinião sobre o Life+.<br>Seja você mesmo!</p>

<form action="#" method="post">
<textarea name="sugestoes" id="sugestoes" cols="30" rows="10" maxlength="500"></textarea>
<a href="#"><button type="submit" id="enviar">Enviar</button></a></form>


<footer><h4>&copy; Equipe Life+ <br>2023</h4></footer>