<header>
    <a href="principal.html"><img src="logo2.png" alt="logo" id="logo2"></a>
    <a href="notificacao.html"><img src="notificacao.png" alt="notificação" id="notificacao"></a>
    <a href="perfil.html"> <img src="perfil.jpg" alt="perfil" id="perfil"></a>
</header>

<div class="navigation">
    <ul>
        <li>
            <a href="principal.html">
                <span class="icon"><img src="Home.png" alt="home" class="img"></span>
                <span class="txt-link">Home</span>
            </a>
        </li>


        <li class="item-menu">
            <a href="calendario.html">
                <span class="icon"><img src="calendario.png" alt="calendario" class="img"></span>
                <span class="txt-link">Caléndário</span>
            </a>
        </li>


        <li class="item-menu">
            <a href="lugares.html">
                <span class="icon"><img src="locais.png" alt="locais" class="img"></span>
                <span class="txt-link">Locais</span>
            </a>
        </li>


        <li class="item-menu">
            <a href="feedback.html">
                <span class="icon"><img src="sugestao.png" alt="sugestao" class="img"></span>
                <span class="txt-link">Sugestões </span>
            </a>
        </li>


        <li class="item-menu">
            <a href="suporte.html">
                <span class="icon"><img src="suporte.png" alt="suporte" class="img"></span>
                <span class="txt-link">Suporte</span>
            </a>
        </li>


        <li class="item-menu">
            <a href="#">
                <span class="icon"><img src="config.png" alt="config" class="img"></span>
                <span class="txt-link">Configurações</span>
            </a>
        </li>


        <li class="item-menu">
            <a href="login.html">
                <span class="icon"><img src="sair.png" alt="sair" class="img"></span>
                <span class="txt-link">Sair</span>

            </a>
        </li>
    </ul>
</div>
<div class="toggle" onclick="toggleMenu();">
    <img src="menu.png" alt="menu" id="btn-exp">
</div>

<div class="imagens1">
    <a href="film_e_serie.html">
        <img src="filmes.jpeg" alt="filmes e series" id="filme"> </a>
    <a href="livros.html">
        <img src="livros.jpeg" alt="livros" id="livro"> </a>
</div>

<a href="">
    <p id="filmes" name="filmes">Filmes/Séries</p>
</a>
<a href="#">
    <p id="livros" name="livros">Livros</p>
</a>


<div class="imagens2">
    <a href="exames.html">
        <img src="exames.jpeg" alt="exames" id="exame"></a>
    <a href="lugares.html">
        <img src="lugares.jpeg" alt="lugares" id="lugar"> </a>
</div>

<a href="">
    <p id="exames" name="exames">Exames</p>
</a>
<a href="">
    <p id="lugares" name="lugares">Lugares</p>
</a>

</div>


<footer>
    <h4>&copy; Equipe Life+ <br>2023</h4>
</footer>